<div class="sidebar-big">
<i class="fa fa-angle-double-right" aria-hidden="true"></i><%= link_to "課程清單",scheduleds_path%>
</div>
<div class="sidebar-big">
<i class="fa fa-angle-double-right" aria-hidden="true"></i><%= link_to "授課時間",calendar_profiles_path%>
</div>
<div class="sidebar-big">
<i class="fa fa-angle-double-right" aria-hidden="true"></i><%= link_to "授課價格",price_profiles_path%>
</div>
<div class="sidebar-big">
<i class="fa fa-angle-double-right" aria-hidden="true"></i><%= link_to "收款設定",gethering_profiles_path%>
</div>
<div class="sidebar-mid">
  <%= link_to "教師資訊"%>
</div>
<div class="sidebar-small">
<i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to "基本資料",introduce_profiles_path%>
</div>
<div class="sidebar-small">
<i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to "教學經驗",education_profiles_path%>
</div>
<div class="sidebar-small">
  <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to "介紹影片",youtube_profiles_path%>
</div>
