<nav class="navbar navbar-default nav-modify">
  <div class="container-fluid nav-relative">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header brand-center">
      <a class="navbar-brand" href="#"><span>Amazing</span><span>tutor</span></a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="infos">
  <div class="container">
    <div class="info col-xs-12">
      <div class="info-image img-responsive center-block">
        <%= image_tag("baby.png") %>
      </div>
      <div class="col-xs-12 clearfix flexmodify">
        <div class="info-mypic col-xs-3 pull-left">
          <%= image_tag("oval155.png") %>
        </div>
        <div class="info-eval col-xs-7">
          <p>Abner Chao</p>
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><span>(132)</span>
        </div>
        <div class=" col-xs-2 info-flag">
          <%= image_tag("flag.png") %>
        </div>
      </div>
      <div class="col-xs-12 clearfix info-tag">
        <i class="fa fa-comment-o"></i> <span>Speak </span><span>Chinese,English</span><br>
        <i class="fa fa-usd"></i> <span>Rate </span><span class="moneyred">400-650TW/hour</span><br>
        <i class="fa fa-rss"></i> <span>Trial </span><span>Yes</span>
      </div>
      <div class="col-xs-12 info-content">
        <p>Hi! My name is Sarah, and I've been teaching English as a second language for the past 10 years. I completed
          my university studies in Sociology and Spanish, with a minor in TESOL</p>
        <div class="text-center">
          <%= link_to "Read More" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="trials">
  <div class="container trial">
    <div class="col-xs-6">
      <h5>Trial session</h5>
      <p>with sarah</p>
    </div>
    <div class="col-xs-4 col-xs-push-2 text-right">
      <h5 class="moneyred">200 TWD</h5>
      <p>20 min</p>
    </div>
    <div class="col-xs-12">
      <%= button_tag "Book Trial", :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="privates">
  <div class="container private">

    <div class="col-xs-12 private-head">
      <h5>Private sesions</h5>
      <p>whith sarah</p>
    </div>

    <div class="col-xs-12 private-money">
      <div class="col-xs-6">
        <h6>1 session</h6>
      </div>
      <div class="col-xs-6 text-right">
        <h5 class="moneyred">400 TWD</h5>
        <p>per hour</p>
      </div>
    </div>
    <div class="col-xs-12 private-money">
      <div class="col-xs-6">
        <h6>5 session</h6>
      </div>
      <div class="col-xs-6 text-right">
        <h5 class="moneyred">1900 TWD</h5>
        <p>per hour</p>
      </div>
    </div>
    <div class="col-xs-12 private-money">
      <div class="col-xs-6">
        <h6>10 session</h6>
      </div>
      <div class="col-xs-6 text-right">
        <h5 class="moneyred">3500 TWD</h5>
        <p>per hour</p>
      </div>
    </div>

    <div class="col-xs-12">
      <%= button_tag "Book Now", :class => "btn btn-primary" %>
    </div>

    <div class="col-xs-12 text-center">
      <h6>Sarah usually responds <b>within 12 hours.</b></h6>
    </div>

  </div>
</div>

<div class="schedules">
  <div class="container schedule">
    <div class="schedule-head col-xs-12">
      <h5>Schedule</h5>
    </div>
    <div class="schedule-plan col-xs-12">
      <%= image_tag("booking.png") %>
    </div>
  </div>
</div>

<div class="backgrounds">
  <div class="container background">
    <div class="col-xs-12 background-head">
      <h5>Background</h5>
    </div>
    <div class="col-xs-12 background-content">
      <h6 class="text-center">1994 - 2200</h6>
      <h5>Eduation</h5>
      <h6>Lorem ipsum dolor sit amet.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus
        delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit
        soluta suscipit veritatis, vitae voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste
        laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
    </div>
    <div class="col-xs-12 background-content">
      <h6 class="text-center">1994 - 2200</h6>
      <h5>Eduation</h5>
      <h6>Lorem ipsum dolor sit amet.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus
        delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit
        soluta suscipit veritatis, vitae voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste
        laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
    </div>
    <div class="col-xs-12 background-content">
      <h6 class="text-center">1994 - 2200</h6>
      <h5>Eduation</h5>
      <h6>Lorem ipsum dolor sit amet.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus
        delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit
        soluta suscipit veritatis, vitae voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste
        laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
    </div>
    <div class="col-xs-12 background-content">
      <h6 class="text-center">1994 - 2200</h6>
      <h5>Eduation</h5>
      <h6>Lorem ipsum dolor sit amet.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio eaque quis sed! Accusamus
        delectus explicabo labore magni minima possimus praesentium quae, qui quo quod reiciendis rem reprehenderit
        soluta suscipit veritatis, vitae voluptatum. Cum deserunt distinctio dolore et facilis fugit, in incidunt iste
        laudantium nobis obcaecati quaerat, qui ratione, rem?</p>
    </div>
  </div>
</div>

<div class="ratings">
  <div class="container rating">
    <div class="rating-head col-xs-12">
      <h5>Rating</h5>
    </div>

    <div class="rating-content col-xs-12">
      <div class="col-xs-1">
        <%= image_tag("oval156.png") %>
      </div>
      <div class="col-xs-10 col-xs-push-1">
        <span>Ruben</span> <span>Mexico</span><br>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        -- <span>Decemeber 9,2016</span>
      </div>
      <div class="col-xs-12 rating-comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum doloremque explicabo illum mollitia,
          ratione suscipit velit vero. Assumenda, veritatis.</p>
      </div>
    </div>
    <div class="rating-content col-xs-12">
      <div class="col-xs-1">
        <%= image_tag("oval156.png") %>
      </div>
      <div class="col-xs-10 col-xs-push-1">
        <span>Ruben</span> <span>Mexico</span><br>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        -- <span>Decemeber 9,2016</span>
      </div>
      <div class="col-xs-12 rating-comment">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum doloremque explicabo illum mollitia,
          ratione sunda, veritatis.</p>
      </div>
    </div>
    <div class="rating-content col-xs-12">
      <div class="col-xs-1">
        <%= image_tag("oval156.png") %>
      </div>
      <div class="col-xs-10 col-xs-push-1">
        <span>Ruben</span> <span>Mexico</span><br>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        -- <span>Decemeber 9,2016</span>
      </div>
      <div class="col-xs-12 rating-comment">
        <p>Lorem ipsum dolor sitg elit. Alias cum doloremque explicabo illum mollitia,
          ratione suscipit velit vero. Assumenda, veritatis.</p>
      </div>
    </div>

  </div>
</div>
