<div class="jumbotron jumbotron-modify">
  <div class="container">
    <div class="col-md-6 jumbotron-fix">
      <h2>Find a Chinese Tutor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam amet animi architecto atque autem dignissimos dolor eaque fuga fugiat laudantium modi neque
      </p>
    </div>
  </div>
</div>

<div class="container-fluid search">
  <div class="row-fluid">
    <div class="container">
      <div class="col-sm-4 col-md-4">
        <p>Tutor Speaks</p>
        <select class="js-example-basic-single" style="width: 100%">
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Availability</p>
        <select class="js-example-basic-single" style="width: 100%">
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Price</p>
        <input id="priceslide" type="text" class="priceslide" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]" style="width:100% !important"/>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="info">
    <div class="row">
      <div class="info-image col-sm-5">
        <iframe src="https://www.youtube.com/embed/b-JD5I_B6LY?controls=0&enablejsapi=1&fs=0&rel=0&showinfo=0&color=white&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="col-xs-12 clearfix flexmodify">
          <div class="info-mypic col-xs-3 pull-left">
            <%= image_tag("oval155.png") %>
          </div>
          <div class="info-eval col-xs-7">
            <p>Abner Chao</p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <span>(132)</span>
          </div>
          <div class=" col-xs-2 info-flag">
            <%= image_tag("flag.png") %>
          </div>
        </div>
        <div class="col-xs-12 clearfix info-tag">
          <i class="fa fa-comment-o"></i>
          <span>Speak
          </span>
          <span>Chinese,English</span><br>
          <i class="fa fa-usd"></i>
          <span>Rate
          </span>
          <span class="moneyred">400-650TW/hour</span><br>
          <i class="fa fa-rss"></i>
          <span>Trial
          </span>
          <span>Yes</span>
        </div>
        <div class="col-xs-12 info-pro">
          <p>Hi! My name is Sarah, and I've been teaching English as a second language for the past 10 years. I completed my university studies in Sociology and Spanish,</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="info" style="border-radius: 5px; overflow: hidden;">
    <div class="row">
      <div class="info-image col-sm-5">
        <iframe src="https://www.youtube.com/embed/NB3fKNwUdu8?playlist=&version=3&controls=0&fs=0&rel=0&showinfo=0&iv_load_policy=3&theme=light" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="col-xs-12 clearfix flexmodify">
          <div class="info-mypic col-xs-3 pull-left">
            <%= image_tag("oval155.png") %>
          </div>
          <div class="info-eval col-xs-7">
            <p>Abner Chao</p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <span>(132)</span>
          </div>
          <div class=" col-xs-2 info-flag">
            <%= image_tag("flag.png") %>
          </div>
        </div>
        <div class="col-xs-12 clearfix info-tag">
          <i class="fa fa-comment-o"></i>
          <span>Speak
          </span>
          <span>Chinese,English</span><br>
          <i class="fa fa-usd"></i>
          <span>Rate
          </span>
          <span class="moneyred">400-650TW/hour</span><br>
          <i class="fa fa-rss"></i>
          <span>Trial
          </span>
          <span>Yes</span>
        </div>
        <div class="col-xs-12 info-pro">
          <p>Hi! My name is Sarah, and I've been teaching English as a second language for the past 10 years. I completed my university studies in Sociology and Spanish,</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="info" style="border-radius: 5px; overflow: hidden;">
    <div class="row">
      <div class="info-image col-sm-5">
        <iframe src="https://www.youtube.com/embed/BN-vdyNxG3A?playlist=&version=3&controls=0&fs=0&rel=0&showinfo=0&iv_load_policy=3&theme=light" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="col-xs-12 clearfix flexmodify">
          <div class="info-mypic col-xs-3 pull-left">
            <%= image_tag("oval155.png") %>
          </div>
          <div class="info-eval col-xs-7">
            <p>Abner Chao</p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <span>(132)</span>
          </div>
          <div class=" col-xs-2 info-flag">
            <%= image_tag("flag.png") %>
          </div>
        </div>
        <div class="col-xs-12 clearfix info-tag">
          <i class="fa fa-comment-o"></i>
          <span>Speak
          </span>
          <span>Chinese,English</span><br>
          <i class="fa fa-usd"></i>
          <span>Rate
          </span>
          <span class="moneyred">400-650TW/hour</span><br>
          <i class="fa fa-rss"></i>
          <span>Trial
          </span>
          <span>Yes</span>
        </div>
        <div class="col-xs-12 info-pro">
          <p>Hi! My name is Sarah, and I've been teaching English as a second language for the past 10 years. I completed my university studies in Sociology and Spanish,</p>
        </div>
      </div>
    </div>
  </div>
</div>
