<div class="col-xs-12 scheduled-head">
  <div class="col-xs-4">
    <h4>3</h4>
    <p>Scheduled</p>
  </div>
  <div class="col-xs-4">
    <h4>1</h4>
    <p>Past</p>
  </div>
  <div class="col-xs-4">
    <h4>0</h4>
    <p>Unscheduled</p>
  </div>
</div>
<div class="col-xs-12 user-list">
  <div>
    <%= link_to "Class",scheduleds_path %>
  </div>
  <div><%= link_to "ChangePassword",changepassword_scheduleds_path %>
  </div>
  <div><%= link_to "FeedBack",feedback_scheduleds_path %>
  </div>
  <div><%= link_to "My Tutor",mytutor_scheduleds_path %>
  </div>
  <div>
    <%= link_to "EditProfile",editprofile_scheduleds_path %>
  </div>
</div>
